<!-- Header file  -->
<!-- It will remain common for all the website pages  -->
<!-- Focus on naming convention  -->
<header>
<div id="page-header">
    <ul>
        <div>
            <h2>Codeial</h2>
        </div>
        
        <% if (locals.user) {%>
        <div>   
            <li>
                <a href="/users/profile">User: <%=user.name%> &emsp;</a>
            </li>
            <li>
                <a href="/users/sign-out">Sign out</a>
            </li>

        </div>   
        <%}else{%>
        <div>  
            <li>
                <a href="/users/sign-in">Sign In &nbsp;</a>
            </li>
            <li>
                <a href="/users/sign-up">Sign Up</a>
            </li>
        </div>    
        <%}%>
    </ul>
</div>
</header>