
    <!-- Above is the sytax for including the header and footer file. -->
<h1>
    Codeial /<%=title%>
</h1>

<section id="feed-post">
    <h4>Posts</h4>
    <form action="/users/post" id="new-post-form" method="POST">
        <!-- We need the content field -->
        <textarea name="content" cols="30" rows="3" placeholder="Type here..."></textarea>
        <input type="submit" value="Post">
    </form>

</section>
