<h1> Sign Up </h1>
<!-- create an action for this route  -->
<form action="/users/create" method="POST">

    <input type="text" name="name" placeholder="Name" required>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm-password" placeholder="Confirm Password" required>
    <button type="submit">Sign Up</button>
</form>